.App {
  text-align:justify;
}
:root{
  --primary-color: #1e3562;
  --secondary-color: #282c34;
  --tertiary-color: #61dafb;
  --black: #000;
  --dark-grey: #333;
  --blue: #3a434ca1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-nav {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 10vh;
  top: 0;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;

}
.App-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: .8em;
  font-weight: 600;
  font-family: monospace;
}
.App-nav ul {
  display: flex;
  list-style: none;
  margin: 0 10px;
}
.App-footer {
  background-color:var(--primary-color);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + .5vmin);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
.App-content {
  margin-top: 12vh;
  margin-bottom: 12vh;
padding: 0 ;
}
.App-profile {
  display: flex;
  flex-direction: row;
  align-items: end;
  background-color: var(--blue);
  height: 20vh;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 0;

}
.App-profile img {
  width: 300px;
  height: 180px;
  border-radius: 50%;
  margin-right: 10px;
}
h1 {
  padding: 10px;
  font-size: 2.5em;
  font-weight: 600;
  font-family: monospace;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
