<div class="logo">
  <img src="assets/Logotipo-maxiradiofm.png" alt="Logotipo-maxiradiofm" />

  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="router-link-active">Inicio</a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="router-link-active">Servicios</a>
      </li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</div>
<header class="header">
  <div class="locutores">
    <img src="/assets/loc1.png" alt="" />
    <h3 class="title-name">Locutor 1</h3>
  </div>
</header>
<router-outlet />
